@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 4rem;
}

header {
    padding: 10px 10%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-btn {
    display: inline-block;
    margin: 10px 20px;
    font-size: 1.05rem;
}

.navbar-btn:hover {
    color: lightskyblue;
}

.navbar-btn:active {
    scale: 0.95;
}

.logo {
    font-size: 1.8rem;
}

.logo, .navbar-btn {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.more-button {
    display: none;
    background-color: black;
    border: solid;
    border-radius: 0.6rem;
    padding: 0.2rem 0.5rem;
}

.more-dropdown {
    display: none;
    position: absolute;
}

/*secftion {
    padding: 1% 5%;
    background-color: white;
    border: solid;
    border-radius: 1rem;
    margin: 5%;
}*/

.about-section {
    margin: 5%;
}

.about-section-header {
    text-align: center;
}

.about-section-text {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (max-width: 870px) {
    .navbar .navbar-btn {
        display: none;
    }
    /*.more-button {
        display: block;
        float: right;
    }*/
}
